@media screen and (max-width: 1000px){
  
  .selection .overlay-text {
    opacity: 1;
    font-size: 1rem;
  }
}



@media screen and (max-width: 720px){

  .main-content header h2 {
    font-size: 7vw;
  }
  
  .main-content header h3 {
    font-size: 5vw;
  }

  .main-header nav {
    background: var(--red-800);
  }

  .main-header nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--red-800);
    flex-direction: column;
    transform: translate(0, -100%);
    z-index: -1;
    transition: transform .2s ease;
  }

  .main-header #mobile-menu:checked~ ul {
    transform: translate(0,0);
  }

  .main-header ul ul {
    position: static;
    display: block;
    border-top: 1px solid rgba(255,255,255, alpha);
    transform: translate(0,0);
  }

  .main-header ul ul a {
    background-color: var(--red-900);
    padding-left: 3rem;
  }

  .hamburger {
    display: inline-flex;
  }

  .main-header .telephone {
    display: block;
  }

  .selection article {
    width: 100%;
  }

  .main-footer .infos ul {
    flex-direction: column;
    text-align: center;
  }

  .main-footer .infos li {
    margin-bottom: .75rem;
  }

  .main-footer li::before {
    content: none;
  }

  .main-footer li:last-child {
    margin: 0;
  }

  .contact-info article {
    width: 100%;
  }
}



@media screen and (max-width: 600px){
  .table th,
  .table .food-img,
  .table .all-together .euro-sign{
    display: none;
  }
}